@font-face{
    font-family: 'mortalkombatmythologies';
    src: url('/css/fonts/mortalkombatmythologies.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.addpadd  {
    padding-top: 100px;
    padding-left: 50px;
}
.fixed {
	position:fixed;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 30px;
}
.coverpad {
	padding-top: 70px;
}

.mortalfonttype {
    font-family: 'mortalkombatmythologies', sans-serif;
    
}

.input {
    width: 128px;
}
.calculatorinput {
    width: 400px;
    margin-top: 150px;
    margin-left: 500px;
}

.btn-width {
    width: 95px;

}