body {
	background-color: black;
	background-image: url(/img/simonswallpaper.jpg);
	background-repeat: no-repeat;
	background-position: top right
}
#startbuttons {
	width: 340px;
	display: block;
	margin: auto;
	padding: inherit;
}
.play {
	display: inline-flex;
}
.text {
	color: black;
	background-color: darkred;
	font-weight: 800;
	font-family: monospace;
	font-size: 2em;
}

#gamebox {
	width: 340px;
	height: 340px;
	margin: auto;
	border-width: 1px;
	border-color: blue;
	display: block;
}
.square {
	width: 150px;
	height: 150px;
	border-width: 3px;
	display: inline-flex;
	opacity: 0.5;
}

#brown {
	background-color: violet;
}

#red {
	background-color: darkred;
}

#violet {
	background-color: purple;
}

#blue {
	background-color: darkblue;
}

.active {
	opacity: 1.0;
}
